.header,
.content {
  min-height: 100px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background-color: #c0c0b6;
  color: black;
}

.content {
  color: black;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1ch;
  font-weight: 300;
  margin: 0;
  opacity: 0.5;
}

.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
}

#canvas {
  display: block;
}
